.component{
    background-color: blanchedalmond;
    height: 100px;
    width: 20%;
    border-radius: 10px;

    margin: 0 auto;
}

.component *{
    margin: 5px 16px 5px 16px; 
    padding: 3px;
    color: rgb(59, 59, 59);
}
